body {
    padding: 0;
    margin: 0;
    --card-height: 80%;
    overflow: hidden;
}

html,
body,
body>div {
    height: 100vh;
    width: 100vw;
}

#map {
    height: 100%;
    width: 100%;
}

#overpass-api-controls {
    padding: 10px;
    background-color: rgb(0, 255, 255);
}

#overpass-api-controls a {
    display: inline;
}

#map-zoom-info-bar {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 50%;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: black;
    opacity: .80;
    background-color: darkgray}

#map-zoom-info-bar.hidden {
    display: none;
}
    
#add-controls {
    padding: 10px;
    background-color: rgb(27, 194, 27);
}

#add-form {
    vertical-align: bottom;
    padding: 1.5em;
    padding-top: 0;
    z-index: 99999;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 20px;
    height: var(--card-height);
    width: 360px;
    overflow: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.472);
    font-family: sans-serif;
    transition: transform 0.25s ease-in-out;
    scrollbar-width: thin;
}

#add-form.closed {
    transform: translateY(93%);
}

#add-form .formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

#add-form form .inputField {
    width: 100%;
}

#add-form form .inputField[type="checkbox"] {
    width: auto;
    margin-left: 0;
}

#add-form .feedbackHint {
    margin-bottom: 20px;
    display: block;
}

#add-form form .inputField {
    margin-bottom: 10px;
}

#add-form form input {
    padding: 4px;
}

#add-form .buttonWrapper {
    display: flex;
}

#add-form .buttonWrapper button {
    margin-right: 10px;
}

#add-form form button {
    display: block;
}

#add-form form label {
    margin-bottom: 3px;
    font-weight: 600;
}

#map.fullscreen {
    height: 100%;
}

.dev-warning p {
    margin: 0;
}

.dev-warning {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 10px;
    margin-bottom: 15px;
}

#chevron{
    display: none;
}

#chevron.display{
    display: inline-block
}

.chevron {
    display: inline;
    margin: 1rem;
    vertical-align: middle;
    width: 18px;
    height: 15px;
    box-sizing: border-box;
}

.chevron__group {
    transform: translateY(0);
    transition: transform 0.1s linear;
}
.chevron__box--left, .chevron__box--right {
    transform: rotate(0) translateY(0);
    transition: transform 0.1s linear;
}
.chevron__box--left {
    transform-origin: 1px 1px;
}
.chevron__box--right {
    transform-origin: 7px 1px;
}
.chevron--flip .chevron__box--left {
    transform: rotate(-90deg) translateY(0);
}
.chevron--flip .chevron__box--right {
    transform: rotate(90deg) translateY(0);
}
.chevron--flip .chevron__group {
    transform: translateY(3px);
}

#plus {
    height: 30px;
}

#plus.hidden {
    display: none;
}

.leaflet-popup-content a.osm-link {
    color: grey;
    text-decoration: none;
    font-size: 10px;
}

.leaflet-popup-content a.osm-link::after {
    content: " ↗";
    margin-left: 4px;
    padding-right: 2px;
    border: 1px solid lightgrey;
}

.address {
    margin-bottom: 0.5rem;
}